/* UNIVERSAL DECLARATIONS */

body {
    background-color: #000d20;
    font-weight: bold;
}

div, h1, h2, p {
    color: white;
}

h2 {
    width: 100%;
    background-color: #0a3858;
    text-align: center;
    line-height:normal;
}

p {
    font-size: 20px;
}

.material-icons {
    color: black;
}

/* NAV and FOOTER */

nav, footer {
    display: inline-flex;
    justify-content: flex-end;
    height: 50px;
    width: 100%;
}
nav div {
    padding: 7px;
    margin-right: 25px;
}

nav div:hover {
    color: #fee682;
    background-color: #1b5e7c;
}

footer div {
    padding: 7px;
    margin-right: 25px;
}

footer div:hover {
    color: #fee682;
    background-color: #1b5e7c;
}

/* HEADER */

.banner {
    overflow: hidden;
}

.banner img {
    max-width: 100%;
    height: auto;
    position: relative;
}

.banner h1 {
    text-align: center;
    z-index: 5;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.5);
}

.description {
    display: inline-flex;
    overflow: hidden;
    max-height: 200px;
}

.description p {
    width: 50%;
    background-color: #0a3858;
    border-radius: 10px;
    overflow: hidden;
}

.description img {
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 3px solid #974c62;
    margin: 0 auto;
}

/* BODY */

.favorite, .other {
    position: relative;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fee682;

    width: 100%;
    height: auto;

}

.favorite div {
    position: relative;
    width: 400px;
    height: 200px;
    border: 1px solid gray;
    margin: 20px;
    background-image: url("project-img.jpg");
}

.other div {
    position: relative;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    margin: 20px;
    background-image: url("project-img.jpg");
}

.favorite div p {
    position: absolute;
    text-align: center;
    background-color:rgb(0, 0, 0);
    width: 100%;
    bottom: 0px;
    height: 20px;
}

.other div p {
    position: absolute;
    text-align: center;
    background-color:rgb(0, 0, 0);
    width: 100%;
    bottom: 0px;
    height: 20px;

}

/* CONTACT */

.contact {
    display: inline-flex;
    overflow: hidden;
    max-height: 200px;
}



